<h4>Country Representation</h4>
<svg id="countryRepGraphSvg"></svg>

<div class="row">
	<div class="col-md-6">
		<h4>Rider Weight</h4>
		<svg id="riderWeightGraphSvg"></svg>
	</div>

	<div class="col-md-6">
		<h4>Rider Height</h4>
		<svg id="riderHeightGraphSvg"></svg>
	</div>
</div>