$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/theme";

/* Put your CSS here */
html, body {
    margin: 30px 0;
}

body {
	position: relative;
}

th.flagColumn {
	width: 25px;
}

th.dataColumn {
	width: 150px;
}

th.teamColumn {
  width: 200px;
}

/* D3 Stuff! */
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis-label {
  font: 12px sans-serif;
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}